@import '../../app-theme';
@import '../../palette';

$custom-typography: mat-typography-config(
	$font-family:	'Source Sans Pro, "Helvetica Neue", sans-serif',
	$button:        mat-typography-level(14px, 14px, 500)
);

@include mat-core($custom-typography);

// Define the dark theme.
$primary: mat-palette($gunmetal-palette);
$accent: mat-palette($corbin-orange-palette);
$warn: mat-palette($phoenix-red-palette);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
