@import '../../app-theme';

// Define the light theme.
$primary: mat-palette($hawaii-blue);
$accent:  mat-palette($griffon-gray, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
